.cards {
  width: 6rem;
}

.coin {
   width: 6rem;
}

.deck {
  border: 5px double #eeeeee70;
  border-radius: 10px;
  padding: 20px;
  background-color: #11111150;
}

.MuiFormControlLabel-label {
  color: #111 !important;
}
